.logo {
  display: inline-block;
  position: relative;
  width: 12rem;
  height: 3rem;
  margin-bottom: 1px; // This is to ensure proper baseline alignment with neighboring text
}

.continuum {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 4rem;
}

.logo-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: inline-block;
}
